apache-airflow-providers-google
pyarrow
apache-airflow-providers-postgres
google-cloud-bigquery
google-cloud-storage
scikit-learn
numpy
xgboost
pandas
pandas-gbq
bs4
requests
python-dotenv
dbt-core~=1.5.0
dbt-redshift~=1.5.0
dbt-snowflake~=1.5.0
dbt-bigquery~=1.5.0
dbt-trino~=1.5.0
